.App {
    text-align: center;
  }
  
  .header {
    background-color: yellow;
  }
  
  .followers-column {
    background-color: red;
    width: 500px;
    height: 800px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .feed {
    background-color: white;
    width: 500px;
  }
  
  .suggested-box {
    background-color: blue;
    width: 400px;
    height: 400px;
  }
  
  